
.logoText{
    color: white;
    padding: 0;
    margin: 0;
    font-size: 50px;
}

.textTurquoise{
    color: #3cdede;
}

.productPreview{
        max-width:200px;
        max-height:300px;
        margin-right: 20px;

}

.products {
        display: flex;
        border: 2px #5eb1e0 solid;
        margin-top: 10px;

        border-radius: 5px;
        padding: 10px;
        width: 75%
}

.heading {
        display: flex;
        align-items: center;
        background-color: #0f3074;
}

a{
        margin-left: 10px;
        text-decoration: none;
        font-size: 22px;
}

a:hover {
        color: #4752b5;
}

.logoText{
        background-color: #0f3074;
        margin: 10px;
        padding: 20px;
}

.navigation {
        margin-left: 100px;
}

.productlist{
        display: flex;
        flex-direction: column;
        align-items: center;
}

button{
        height: 50px;
        width: 100%;
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
        
}

button:hover{
       color: white;
       background-color: #959ef0;
       border: none;
}

.priceSection {
        min-width: 100px;
        text-align: center;
}
.p{
    padding: 5px;
    margin: 5px;
}
.productCard{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    margin-top:50px;

}

.productDetails{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    color: #2ca1a1;


}

.productImage {
    max-width: 300px;
    max-height: 400px;
    margin-right: 20px;

}
.reviews{
    display: flex;
    flex-direction: row;
    margin-left: 210px;

}
.review{
    border: 2px #5eb1e0 solid;
    padding: 10px;
    margin-right: 10px;
    max-width: 250px;
    max-height: 400px;
    color: #5eb1e0;

    width: 75%;
    margin-left: 20px;
    display: flex;
    flex-direction: row;

}
.imgreview{
    max-width: 100px;
    max-height: 200px;
}
.FOROTSTYPA{
    margin-right: 30px;
    margin-left: 30px;
}
.d{
    width: 75%;
    margin-left: 210px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
}
.creatReviewForm{
    display: flex;
    flex-direction: column;
}
.creatReview{
    margin-top: 10px;
}
.createReviewsAll{
    border: 2px #5eb1e0 solid;
    padding: 10px;
    max-width: 250px;
    max-height: 400px;
    margin-left: 20px;
    color: #5eb1e0;
}

.creatReviewForm * {
    margin-top:10px;
}
.pay{

    margin-top: 20px;

}
.payment{
    color: #5eb1e0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.paymentDetailsForm {
    display: flex;
    flex-direction: column;
}
.paymentDetailsForm label {
    margin-right: 10px;
    margin-left: 5px;
}