{% load static %}
<link rel = "stylesheet" href="{% static 'style.css' %}" >

<div class = "heading">
        <div class = "logo">
            <h1  style = "font-family: Montserrat ">ABIBAS</h1>
        </div>

         <div class = "navigation">
                <a href="/" >Главная</a>
                <a href="/products">Товары</a>
                <a href="/users">Личный кабинет</a>
         </div>
</div>

<div class="productlist">
     {% for product in products %}
    <div class="products" >
            <img src='https://cdn.100sp.ru/pictures/223236853'>
        <div>
            <h2> <span style=" color: #f2c2e5 "> Платье "розовое вино" </span></h2>
            <p> Платье «Розовое вино» — это воплощение элегантности и женственности. Оно выполнено из струящегося шифона, который создаёт эффект лёгкости и воздушности. Нежный розовый цвет платья напоминает о цвете лепестков сакуры. Это платье идеально подойдёт для любого торжественного случая.</p>
        </div>
        <div class="priceSection">
            <h3>19 990 ₽</h3>
            <button>Купить</button>
        </div>
    </div>

    <div class="products" >
            <img src='https://i.pinimg.com/originals/f9/72/20/f972203e9d939bf78d4d56c6acd0553f.jpg'>
        <div>
            <h2> Платье "Лагуна"</h2>
            <p> Платье «Лагуна» — это воплощение нежности и лёгкости. Оно выполнено из струящегося шёлка, который создаёт эффект движения воды. Глубокий синий цвет платья напоминает о цвете воды в лагуне. Многослойность образа достигается за счёт лёгкой накидки, добавляющей ощущение воздушности. Это платье идеально подойдёт для любого случая.</p>
        </div>
        <div class="priceSection">
            <h3>19 990 ₽</h3>
            <button>Купить</button>
        </div>
    </div>
</div>
 {%endfor%}