{% load static %}
<link rel = "stylesheet" href="{% static 'style.css' %}" >

<div class = "heading">
        <div class ="logo">
            <h1   class ="logoText" style = "font-family: Montserrat ">ABIBAS</h1>
        </div>

         <div class = "navigation">
                <a href="/" >Главная</a>
                <a  href="/products">Товары</a>
                <a   href="/users">Личный кабинет</a>
         </div>
</div>

<div class="productlist">
    {% for product in products %}
    <div class="products" >
           <img class="productPreview" src="{{ product.image_url }}">
        <div>
         <a href="/product/{{ product.id }}  ">
           <h2> {{ product.name }}</h2>
         </a>


  <p>{{ product.description }}</p>
        </div>
        <div class="priceSection">
            <h3>{{ product.price }} ₽</h3>
            <button>Купить</button>
        </div>

    </div>
      {% endfor %}
