<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    * {
        background-color:
    }
    h1{
        color: 0b6396;
        padding: 0;
        margin: 0;
    }
    h2{
        color: 14c7c7;
    }
    img{
        max-width:200px;
        max-height:300px;
        margin-right: 20px;
    }
    .products {
        display: flex;
        border: 2px #5eb1e0 solid;
        margin-top: 10px;
        border-radius: 5px;
        padding: 10px;
    }
     .heading {
        display: flex;
        align-items: center;
        background-color: 7eeff7;
    }
    a{
        margin-left: 10px;
    }
    .logo{
        background-color: 7eeff7;
        margin: 10px;
        padding: 20px;
    }


</style>

<div class = "heading">
    <div class = "logo">
          <h1  style = "font-family: Montserrat ">ABIBAS</h1>
    </div>


    <a href="/" >Главная</a>
    <a href="/products">Товары</a>
    <a href="/users">Личный кабинет</a>
</div>

<div class="products" >
    <img src='https://cdn.100sp.ru/pictures/223236853'>
    <div>
        <h2> Платье "розовое вино"</h2>
        <p> Платье «Розовое вино» — это воплощение элегантности и женственности. Оно выполнено из струящегося шифона, который создаёт эффект лёгкости и воздушности. Нежный розовый цвет платья напоминает о цвете лепестков сакуры. Это платье идеально подойдёт для любого торжественного случая.</p>
    </div>
    <button>Купить</button>
</div>

<div class="products" >
    <img src='https://i.pinimg.com/originals/f9/72/20/f972203e9d939bf78d4d56c6acd0553f.jpg'>
    <div>
        <h2> Платье "Лагуна"</h2>
    <p> Платье «Лагуна» — это воплощение нежности и лёгкости. Оно выполнено из струящегося шёлка, который создаёт эффект движения воды. Глубокий синий цвет платья напоминает о цвете воды в лагуне. Многослойность образа достигается за счёт лёгкой накидки, добавляющей ощущение воздушности. Это платье идеально подойдёт для любого случая.</p>
    </div>
    <button>Купить</button>
</div>