{% load static %}
<link rel = "stylesheet" href="{% static 'style.css' %}" >

<div class = "heading">
        <div class = "logo">
            <h1 class = "logoText" style = "font-family: Montserrat ">ABIBAS</h1>
        </div>

         <div class = "navigation">
                <a href="/" >Главная</a>
                <a href="/products">Товары</a>
                <a href="/users">Личный кабинет</a>
         </div>
</div>
<div class="productCard">
    <img src="https://cdn.100sp.ru/pictures/223236853">
    <div class = "NameProduct">
        <h1 <span style=" color: #f2c2e5 ">Платье"Розовое вино"</span></h1>
        <h3>платье из ткани под названием</h3>
    </div>
</div>

<div class="productDetails">
    <h1 <span style=" color: #f2c2e5 ">Описание</span></h1>
    <p>
      Струящаяся ткань
    </p>
</div>