{% load static %}
<link rel = "stylesheet" href="{% static 'style.css' %}" >

<div class = "heading">
        <div class = "logo">
            <h1 class = "logoText" style = "font-family: Montserrat ">ABIBAS</h1>
        </div>

         <div class = "navigation">
                <a href="/" >Главная</a>
                <a href="/products">Товары</a>
                <a href="/users">Личный кабинет</a>
         </div>
</div>

<div class="productCard">
    <img src="{{ product.image_url }}" class="productImage">
    <div class="productInfo">
        <h1 <span style=" color: #f2c2e5 ">{{ product.name }}</span></h1>
        <h3>{{ product.price }} ₽</h3>
        <button>Купить</button>
    </div>

</div>

<div class="productDetails">
    <div class="FOROTSTYPA">
        <h1 <span style=" color: #f2c2e5 ">Описание</span></h1>
        <p>
            {{ product.description }}
        </p>
    </div>
</div>

<div>


    <h1 class="d" <span style=" color: #f2c2e5 ">Отзывы</span></h1>
        <div class="reviews" >
            {% for review in reviews %}
            <div class="review" >
                    <div>
                        <h2>{{review.author}}</h2>
                    <p>
                        {{review.text}}
                    </p>
                    <img  src="{{review.image_url}}" class="imgreview">
                    </div>
            </div>
            {% endfor %}

            <div class="createReviewsAll ">
                <h1>Оставте отзыв</h1>
                <div class="createReviews">
                    <form class="creatReviewForm" method="post">
                            {% csrf_token %}

                            <label for="author">Автор</label>
                            <input name="author"  />
                            <label for="text">Описание</label>
                            <textarea class="creatReview" name="text"></textarea>
                            <button>Отправить отзыв</button>

                    </form>
                </div>
            </div>
        </div>



