{% load static %}
<link rel = "stylesheet" href="{% static 'style.css' %}" >

<div class = "heading">
        <div class = "logo">
            <h1 class = "logoText" style = "font-family: Montserrat ">ABIBAS</h1>
        </div>

         <div class = "navigation">
                <a href="/" >Главная</a>
                <a href="/products">Товары</a>
                <a href="/users">Личный кабинет</a>
         </div>
</div>

<div class="productCard">
    <img src="{{ product.image_url }}" class="productImage">
    <div class="productInfo">
        <h1 <span style=" color: #f2c2e5 ">{{ product.name }}</span></h1>
        <h3>{{ product.price }} ₽</h3>
        <button>Купить</button>
    </div>
</div>

<div class="productDetails">
        <h1 <span style=" color: #f2c2e5 ">Описание</span></h1>
        <p>
            {{ product.description }}
        </p>
        <h1 <span style=" color: #f2c2e5 ">Отзывы</span></h1>

        <div class="reviews" >
            <div class="review" >
                <h2>Аnna</h2>
                <p>Мы любим животных и стараемся поддерживать тех из них, кому не посчастливилось иметь ласковых хозяев и тёплый кров. Один из проверенных способов это сделать — помочь благотворительному фонду «Луч Добра». Благодаря их труду ежегодно сотни питомцев находят свой новый дом.</p>
                <img class="imgreview" src="https://cdn.100sp.ru/pictures/223236853" >
            </div>
             <div class="review" >
                <h2>Аnna</h2>
                <p>Мы любим животных и стараемся поддерживать тех из них, кому не посчастливилось иметь ласковых хозяев и тёплый кров. Один из проверенных способов это сделать — помочь благотворительному фонду «Луч Добра». Благодаря их труду ежегодно сотни питомцев находят свой новый дом.</p>
                <img class="imgreview" src="https://cdn.100sp.ru/pictures/223236853" >
            </div>
        </div>
</div>
