{% load static %}
<link rel = "stylesheet" href="{% static 'style.css' %}" >

<div class = "heading">
        <div class = "logo">
            <h1 class = "logoText" style = "font-family: Montserrat ">ABIBAS</h1>
        </div>

         <div class = "navigation">
                <a href="/" >Главная</a>
                <a href="/products">Товары</a>
                <a href="/users">Личный кабинет</a>
         </div>
</div>

<div class="payment" style="text-align: center">
    <h1> Поздравляем с покупкой!</h1>
    <h2>После подтверждения оплаты, ваш товар будет отправлен по указанному адресу</h2>


</div>